<div class='product-tile'>
	<div class='image-and-title'>
		<div class='image'>
			<%= image_tag product.photo.url %>
		</div>
		<div class='title'>
			<%= link_to(product.title_with_price_range, product) %>
		</div>
	</div>
	<div class='strapline'>
		<%= product.strapline %><br />
		<%= pluralize(product.variants.size, 'variant') %>
	</div>
</div>